sqlalchemy==1.4.46
jinja2==3.0.3
flask==2.0.3
flask_login
flask_bootstrap
flask_jsglue
flask_dropzone
flask_wtf
drymail
email_validator
psycopg2
numpy
Levenshtein
opencv-python
lxml
shapely==1.8.5
scipy
arabic_reshaper
python-dateutil
natsort
