{% if document.user.id == current_user.id or current_user.trusted == 1 %}
<a  class="document-action-btn btn btn-secondary"
    href="{{ url_for('document.collaborators_get', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Edit Collaborators">
    <i class="fas fa-users fa-fw"></i>
</a>
{% endif %}

{% if document.state.name == 'NEW' %}
<a  class="document-action-btn btn btn-secondary"
    href="{{ url_for('document.upload_images_to_document', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Upload Images">
    <i class="fas fa-cloud-upload-alt fa-fw"></i>
</a>
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('layout_analysis.select_layout', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Run layout analysis">
    <i class="fas fa-forward fa-fw"></i>
</a>
{% endif %}

{% if document.state.name == 'COMPLETED_LAYOUT_ANALYSIS' %}
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('layout_analysis.show_results', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Show layout analysis results">
    <i class="fas fa-eye fa-fw"></i>
</a>
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('ocr.select_ocr', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Run OCR">
    <i class="fas fa-forward fa-fw"></i>
</a>
    {% if document.user.id == current_user.id or current_user.trusted == 1 %}
    <a  class="document-action-btn btn btn-secondary text-white revert-layout-button"
        data-toggle="tooltip"
        data-placement="right"
        title="Revert layout analysis"
        data-document="{{ document.id }}">
        <i class="fas fa-backward"></i>
    </a>
    {% endif %}
{% endif %}

{% if document.state.name == 'COMPLETED_OCR' %}
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('ocr.show_results', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Show ocr results">
    <i class="fas fa-eye fa-fw"></i>
</a>
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('ocr.select_ocr', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Run OCR">
    <i class="fas fa-forward fa-fw"></i>
</a>
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('document.get_document_pages', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Download all transcriptions">
    <i class="fas fa-file-download fa-fw"></i>
</a>
<a  class="document-action-btn btn btn-secondary text-white"
    href="{{ url_for('document.annotation_statistics', document_id=document.id) }}"
    data-toggle="tooltip"
    data-placement="right"
    title="Statistics">
    <i class="fas fa-chart-line fa-fw"></i>
</a>
    {% if document.user.id == current_user.id or current_user.trusted == 1 %}
    <a  class="document-action-btn btn btn-secondary text-white revert-OCR-button"
        data-toggle="tooltip"
        data-placement="right"
        title="Revert OCR"
        data-document="{{ document.id }}">
        <i class="fas fa-backward"></i>
    </a>
    {% endif %}

{% endif %}


{% if document.user.id == current_user.id %}
    <a class="document-action-btn btn btn-secondary text-white delete-document-button"
       data-toggle="tooltip"
       data-placement="right"
       title="Remove Document"
       data-document="{{ document.id }}">
        <i class="fas fa-trash fa-fw"></i>
    </a>
{% endif %}