{% extends "base/base.html" %}
{% block content %}
    <div class="container-fluid px-4">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove Document</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this document?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="modal-remove-button" type="button" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="revert-layout-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="revert-layout-modal-label">Revert layout analysis</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to revert layout analysis for this document? All existing manual layout will be lost.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="revert-layout-modal-remove-button" type="button" class="btn btn-danger">Revert</button>
                    </div>
                    <div id="revert-layout-loader" class="container py-5">
                        <div class="row">
                            <div class="col" align="center">
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="revert-OCR-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="revert-OCR-modal-label">Revert OCR</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to revert OCR for this document? All existing manual annotations will be lost.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="revert-OCR-modal-remove-button" type="button" class="btn btn-danger">Revert</button>
                    </div>
                    <div id="revert-OCR-loader" class="container py-5">
                        <div class="row">
                            <div class="col" align="center">
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="offset-xl-1 col-xl-10">
                <a class="btn btn-primary add-document-button" href="{{ url_for('document.new_document') }}">
                    <ion-icon name="add"></ion-icon>
                    Add New Document
                </a>
            </div>
        </div>

        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <table id="document_table" class="table table-hover">
                    <thead>
                    <tr role="row">
                        <th scope="col" class="image_column">Page</th>
                        <th scope="col">Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">State</th>
                        <th scope="col" class="action_column">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in documents %}
                        <tr data-document="{{ document.id }}">
                            <td>
                                <div class="image-preview-cont">
                                    <img data-src="{{url_for('layout_analysis.get_result_preview', image_id=previews[document.id].id)}}" class="lazy-img image-preview" src="" onerror="this.src='/static/img/missing_page.png'"/>
                                </div>
                            </td>

                            <td>{{ document.name }}</td>
                            <td>{{ document.user.first_name }} {{ document.user.last_name }}</td>
                            <td>{{ document.state.value }}</td>
                            <td>
                                {% if document.user.id == current_user.id or current_user.trusted == 1 %}
                                    <a  class="document-action-btn btn btn-secondary"
                                        href="{{ url_for('document.collaborators_get', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Edit Collaborators">
                                        <ion-icon name="contacts"></ion-icon>
                                    </a>
                                {% endif %}

                                {% if document.state.name == 'NEW' %}
                                    <a  class="document-action-btn btn btn-secondary"
                                        href="{{ url_for('document.upload_document_get', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Upload Images">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                    </a>
                                    <a  class="document-action-btn btn btn-secondary text-white"
                                        href="{{ url_for('layout_analysis.select_layout', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Run layout analysis">
                                        <ion-icon name="fastforward"></ion-icon>
                                    </a>
                                {% endif %}

                                {% if document.state.name == 'COMPLETED_LAYOUT_ANALYSIS' %}
                                    <a  class="document-action-btn btn btn-secondary text-white"
                                        href="{{ url_for('layout_analysis.show_results', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Show layout analysis results">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a  class="document-action-btn btn btn-secondary text-white"
                                        href="{{ url_for('ocr.select_ocr', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Run OCR">
                                        <ion-icon name="fastforward"></ion-icon>
                                    </a>
                                    <a  class="document-action-btn btn btn-secondary text-white revert-layout-button"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Revert layout analysis"
                                        data-document="{{ document.id }}">
                                        <ion-icon name="rewind"></ion-icon>
                                    </a>
                                {% endif %}

                                {% if document.state.name == 'COMPLETED_OCR' %}
                                    <a  class="document-action-btn btn btn-secondary text-white"
                                        href="{{ url_for('ocr.show_results', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Show ocr results">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a  class="document-action-btn btn btn-secondary text-white"
                                        href="{{ url_for('ocr.select_ocr', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Run OCR">
                                        <ion-icon name="fastforward"></ion-icon>
                                    </a>
                                    <a  class="document-action-btn btn btn-secondary text-white"
                                        href="{{ url_for('document.get_document_pages', document_id=document.id) }}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Download pages">
                                        <ion-icon name="document"></ion-icon>
                                    </a>
                                    <a  class="document-action-btn btn btn-secondary text-white revert-OCR-button"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Revert OCR"
                                        data-document="{{ document.id }}">
                                        <ion-icon name="rewind"></ion-icon>
                                    </a>
                                {% endif %}

                                {% if document.user.id == current_user.id %}
                                    <a class="document-action-btn btn btn-secondary text-white delete-document-button"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="Remove Document"
                                       data-document="{{ document.id }}">
                                        <ion-icon name="trash"></ion-icon>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/loader.css?v=1.0">
    <style>
        .document-action-btn{
            min-height: 25px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', filename='js/lazy_image.js') }}"></script>

    <script>
        document.addEventListener("DOMContentLoaded",
            function () {
                manage_lazy_images(template_set_url_callback)
            });
        $(document).ready(function () {
            // Setup table - add a text input to each footer cell
            $('#document_table thead tr').clone(true).appendTo('#document_table thead');
            var table = $('#document_table').DataTable({
                stateSave: true,
                orderCellsTop: true,
                fixedHeader: true
            });

            var state = table.state.loaded();
            $('#document_table thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                var input_value = '';
                try {
                    input_value = state.columns[i].search.search;
                } catch(err){
                    console.log('ERROR')
                }
                if (title != 'Actions' && title != 'Page') {
                    $(this).html('<input type="text" placeholder="Search"  value="' + input_value + '"/>');
                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table.column(i).search(this.value).draw();
                        }
                    });
                } else {
                    $(this).html('');
                }
            });
        });
    </script>
    <script>
        let $modal_delete = $('#exampleModal');
        let $modal_revert_layout = $('#revert-layout-modal');
        let $modal_revert_OCR = $('#revert-OCR-modal');
        let last_document_id = null;
        $('[data-toggle="tooltip"]').tooltip();
        $modal_delete.modal({
            show: false
        });
        $modal_revert_layout.modal({
            backdrop: 'static',
            keyboard: false,
            show: false
        });
        $modal_revert_OCR.modal({
            backdrop: 'static',
            keyboard: false,
            show: false
        });

        $('.delete-document-button').on('click', function (event) {
            event.preventDefault();
            last_document_id = $(this).data('document');
            $modal_delete.modal('show');
        });

        $('#modal-remove-button').on('click', function (event) {
            event.preventDefault();
            console.log(last_document_id);
            $.get("/document/delete_document/" + last_document_id).done(function (document_id) {
                $('tr[data-document="' + document_id + '"').remove();
                $modal_delete.modal('hide');
                location.reload();
            });
        });

        $('.revert-layout-button').on('click', function (event) {
            event.preventDefault();
            last_document_id = $(this).data('document');
            $("#revert-layout-loader").hide();
            $modal_revert_layout.modal('show');
        });

        $('.revert-OCR-button').on('click', function (event) {
            event.preventDefault();
            last_document_id = $(this).data('document');
            $("#revert-OCR-loader").hide();
            $modal_revert_OCR.modal('show');
        });

        $('#revert-layout-modal-remove-button').on('click', function (event) {
            event.preventDefault();
            console.log(last_document_id);
            $.get("/layout_analysis/revert_layout_analysis/" + last_document_id).done(function (document_id) {
                $modal_revert_layout.modal('hide');
                location.reload();
            });
            $("#revert-layout-modal .modal-body").hide();
            $("#revert-layout-modal .modal-footer").hide();
            $("#revert-layout-loader").show();
        });

        $('#revert-OCR-modal-remove-button').on('click', function (event) {
            event.preventDefault();
            console.log(last_document_id);
            $.get("/ocr/revert_ocr/" + last_document_id).done(function (document_id) {
                $modal_revert_OCR.modal('hide');
                location.reload();
            });
            $("#revert-OCR-modal .modal-body").hide();
            $("#revert-OCR-modal .modal-footer").hide();
            $("#revert-OCR-loader").show();
        });

    </script>
{% endblock %}
