{% extends "base/base.html" %} {% block content %}
    <h3>{{ document.name }} - Upload Images</h3>

    <form
            class="my-3"
            id="newDocumentForm"
            action="/document/{{ document.id }}/upload"
            method="POST"
            enctype="multipart/form-data"
    >
        <div class="form-group">
            <div class="input-group">
                <div class="custom-file">
                    <input
                            type="file"
                            class="custom-file-input"
                            name="document_uploaded_files"
                            id="document_upload_file_input"
                            aria-describedby="document_upload_file_input"
                            multiple
                    />
                    <label
                            class="custom-file-label"
                            id="document_upload_label"
                            for="document_upload_file_input"
                    >Choose file</label
                    >
                </div>
            </div>
            <input
                    class="btn btn-primary my-3 btn-lg btn-block"
                    type="submit"
                    value="Upload"
            />
        </div>
    </form>
    <div>
        {% for image in images %}
            <div class="card d-inline-block m-3">
                <img
                        src="/get_image/{{ document.id }}/{{ image.id }}"
                        alt="{{ image.filename }}"
                        class="uploaded_image card-img-top"
                />
                <div class="card-body text-center">
                    {{ image.filename }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal">
        <img class="mb-2" src="https://i.stack.imgur.com/FhHRx.gif" alt="loading">
        <h2>Your images are being uploaded, please wait...</h2>
    </div>

{% endblock %} {% block styles %}
    <style>
        .uploaded_image {
            max-width: 100px;
            max-height: 200px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, .8);
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        body.loading {
            overflow: hidden;
        }

        body.loading .modal {
            display: flex;
        }
    </style>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let uploadInput = document.getElementById("document_upload_file_input");
            let uploadLabel = document.getElementById("document_upload_label");

            if (uploadInput != null) {
                uploadInput.addEventListener("change", updateNumberOfFiles);
            }

            $('input[type="submit"]').on('click', function (event) {
                $('body').addClass('loading')
            });

            function updateNumberOfFiles() {
                let selectedFiles = uploadInput.files;

                if (selectedFiles.length === 0) {
                    uploadLabel.innerText = "Choose file";
                } else {
                    uploadLabel.innerText = "Selected files: " + selectedFiles.length;
                }
            }
        })
    </script>

{% endblock %}