{% extends "base/base.html" %} {% block content %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remove Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this image?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="modal-remove-button" type="button" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <h3>{{ document.name }} - Upload Images</h3>

    <form
            class="my-3"
            id="newDocumentForm"
            action="/document/{{ document.id }}/upload"
            method="POST"
            enctype="multipart/form-data"
    >
        <div class="form-group">
            <div class="input-group">
                <div class="custom-file">
                    <input
                            type="file"
                            class="custom-file-input"
                            name="document_uploaded_files"
                            id="document_upload_file_input"
                            aria-describedby="document_upload_file_input"
                            multiple
                    />
                    <label
                            class="custom-file-label"
                            id="document_upload_label"
                            for="document_upload_file_input"
                    >Choose file</label
                    >
                </div>
            </div>
            <input
                    class="btn btn-primary my-3 btn-lg btn-block"
                    type="submit"
                    value="Upload"
            />
        </div>
    </form>
    <div>
        {% for image in images %}
            <div class="card d-inline-block m-3">
                <div class="card-image-container">
                    <img
                            src="/get_image/{{ document.id }}/{{ image.id }}"
                            alt="{{ image.filename }}"
                            class="uploaded_image card-img-top"
                    />
                </div>
                <div class="card-body text-center">
                    <p>{{ image.filename }}</p>
                    <a data-document="{{ document.id }}" data-image="{{ image.id }}"
                       class="btn btn-danger delete-image-button text-white">Remove</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal">
        <img class="mb-2" src="https://i.stack.imgur.com/FhHRx.gif" alt="loading">
        <h2>Your images are being uploaded, please wait...</h2>
    </div>

{% endblock %} {% block styles %}
    <style>
        .uploaded_image {
            max-width: 100px;
            max-height: 200px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, .8);
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        body.loading {
            overflow: hidden;
        }

        body.loading .modal {
            display: flex;
        }

        .modal-backdrop {
            z-index: auto;
        }
        .card-image-container{
            display: flex;;
            justify-content: center;
        }
    </style>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let uploadInput = document.getElementById("document_upload_file_input");
            let uploadLabel = document.getElementById("document_upload_label");
            let $modal = $('#exampleModal');

            let lastImageId = null;
            let lastDocumentId = null;

            if (uploadInput != null) {
                uploadInput.addEventListener("change", updateNumberOfFiles);
            }

            $('input[type="submit"]').on('click', function (event) {
                $('body').addClass('loading')
            });

            $('.delete-image-button').on('click', function (event) {
                event.preventDefault();
                lastImageId = $(this).data('image');
                lastDocumentId = $(this).data('document');

                $modal.modal('show');
            });

            $('#modal-remove-button').on('click', function (event) {
                event.preventDefault();
                $.get("/remove_image/" + lastDocumentId + "/" + lastImageId).done(function () {
                    location.reload();
                });
            });

            function updateNumberOfFiles() {
                let selectedFiles = uploadInput.files;

                if (selectedFiles.length === 0) {
                    uploadLabel.innerText = "Choose file";
                } else {
                    uploadLabel.innerText = "Selected files: " + selectedFiles.length;
                }
            }
        })
    </script>

{% endblock %}