.editor-map {
    height: 500px;
}

#keyboard {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 350px;
    width: 700px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    z-index: 999999;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.letter-container {
    height: 60px;
    width: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.letter-container img {
    height: 100%;
}

.letter-container .letter {
    font-size: 200%;
}

.container-fluid {
    padding-bottom: 400px;
}

.text-line {
    font-family: "Times New Roman", Times, serif;
}
