{% import  "bootstrap/wtf.html" as wtf %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/custom_navbar.css"/>
{% endblock %}

<nav class="navbar navbar-light navbar-expand-md">
    <a id="top" class="nav-link navbar-brand name-long px-0 py-0" href="{{ url_for('main.index') }}">
	    <span><img style="max-height:80px;" src="/static/img/favicon.ico" class="d-inline-block align-middle pb-2"></span>
	    <span class="navbar-text py-3 px-2">Project PERO OCR</span>
    </a>
    <a id="top" class="nav-link navbar-brand name-short px-0 py-0">
	    <span><img style="max-height:80px;" src="/static/img/favicon.ico" class="d-inline-block align-middle pb-2"></span>
	    <span class="navbar-text py-3 px-2">PERO</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
	      {% if current_user.is_authenticated %}
              <li class="nav-item{%- if request.path == "/document/documents" %} active{% endif %}" >
                  <a class="nav-link my-2" href="{{ url_for('document.documents') }}"><strong>Documents</strong></a>
              </li>
              <li class="nav-item{%- if request.path == "/document/requests" %} active{% endif %}" >
                  <a class="nav-link my-2" href="{{ url_for('document.requests') }}"><strong>Requests</strong></a>
              </li>
                <li class="nav-item dropdown">
                  <button class="btn dropdown-toggle nav-link my-2" type="button" style="font-size: 120%; background-color: #ccd1d8; border: 0px; color: black;padding-top: 6px !important; padding-bottom: 10px !important;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Help</strong>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="right: 0; left: auto;">
                    <a class="dropdown-item" target="_blank" href="https://youtu.be/r9aFeKVDyck">Document management</a>
                    <a class="dropdown-item" target="_blank" href="https://youtu.be/-Of2TrjJlwU">Layout Editor</a>
                    <a class="dropdown-item" target="_blank" href="https://youtu.be/mbB4svRmfqA">OCR Editor</a>
                  </div>
                </li>
              <li class="nav-item">
                  <a class="nav-link my-2" href="{{ url_for('auth.logout') }}"><strong>Logout</strong></a>
              </li>
          {% elif request.path == '/' or request.path == '/index' %}
              <li class="nav-item">
              {{ wtf.quick_form(form_login, action= url_for('auth.login'), extra_classes="form-inline my-2 my-lg-0 login-form") }}
              </li>
              <li class="nav-item">
                <a href="{{ url_for('auth.signup') }}" class="btn btn-primary ml-3">Sign Up</a>
              </li>
          {% endif %}
      </ul>
    </div>
</nav>



