
<div class="scrolling-wrapper" style="overflow-x: scroll; overflow-y: hidden;">
    <div class="d-flex flex-row">
        {% for i in range(0, images|length) %}
            <div class="image-container border border-secondary m-1 rounded" style="cursor: pointer;">
                <figure class="figure m-1"
                        data-document="{{ document.id }}"
                        data-image="{{ images[i].id }}"
                        data-index="{{ i }}">
                    <img class="figure-img img-thumbnail mx-auto d-block"
                         src="/layout_analysis/get_result_preview/{{ images[i].id }}"
                         alt="{{ images[i].filename }}"
                         style="height: 200px;">
                    <figcaption class="figure-caption text-center"><strong>{{ images[i].filename }}</strong></figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</div>
