{% extends "base.html" %} {% block content %}
<a class="btn btn-primary add-document-button my-3" href="/document/new"
  ><ion-icon name="add"></ion-icon> Add New Document</a
>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">State</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
    <tr>
      <td>{{ document.name }}</td>
      <td>{{ document.user.first_name }} {{ document.user.last_name }}</td>
      <td>{{ document.state.value }}</td>
      <td>
        {% if document.user.id == current_user.id %}
        <a
          class="btn btn-secondary"
          href="/document/{{ document.id }}/collaborators"
          data-toggle="tooltip"
          data-placement="right"
          title="Edit Collaborators"
        >
          <ion-icon name="contacts"></ion-icon
        ></a>
        {% endif %} {% if document.state.name == 'NEW' %}
        <a
          class="btn btn-secondary"
          href="/document/{{ document.id }}/upload"
          data-toggle="tooltip"
          data-placement="right"
          title="Upload Images"
          ><ion-icon name="cloud-upload"></ion-icon
        ></a>
        {% endif %} {% if document.user.id == current_user.id %}
        <a
          class="btn btn-secondary"
          href="/document/{{ document.id }}/delete"
          data-toggle="tooltip"
          data-placement="right"
          title="Remove Document"
        >
          <ion-icon name="trash"></ion-icon
        ></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div></div>

{% endblock %} {% block scripts %}
<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
