{% extends "base.html" %} {% block content %}
<a class="btn btn-primary add-document-button my-3" href="/document/new"
  ><ion-icon name="add"></ion-icon> Add New Document</a
>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">State</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
    <tr>
      <td>{{ document.name }}</td>
      <td></td>
      <td>{{ document.state.value }}</td>
      <td>
        {% if document.state.name == 'NEW' %}
        <a href="/document/{{ document.id }}/edit"
          ><ion-icon name="cloud-upload"></ion-icon
        ></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div></div>

{% endblock %}
