<footer>
    <!-- Copyright -->
    <div class="container d-flex text-center">
        <div class="mx-auto">
            <a href="https://www.mzk.cz/"
                ><img class="mx-3 my-2" src="../static/img/mzk_logo.png" alt="Moravská zemská knihovna v Brně"
            /></a>
            <a href="https://www.fit.vutbr.cz/"
                ><img class="mx-3 my-2" src="../static/img/fit_logo.png" alt="Fakulta informačních technologií VUT v Brně"
            /></a>
            <a href="https://www.mkcr.cz/"
                ><img class="mx-3 my-2" src="../static/img/mkcr_logo.png" alt="Ministerstvo kultury České republiky"
            /></a>
        </div>
    </div>
    <!-- Copyright -->
</footer>
