<section id="registerForm" class="text-left mx-auto">
    <form action="/signup" method="POST">
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="firstName">First Name:</label>
                <input
                    type="text"
                    name="firstName"
                    class="form-control"
                    id="firstName"
                    placeholder="Enter First Name"
                    required
                />
            </div>
            <div class="form-group col-sm-6">
                <label for="lastName">Last Name:</label>
                <input
                    type="text"
                    name="lastName"
                    class="form-control"
                    id="lastName"
                    placeholder="Enter Last Name"
                    required
                />
            </div>
        </div>

        <div class="form-group">
            <label for="registerEmail">Email:</label>
            <input
                type="email"
                name="registerEmail"
                class="form-control"
                id="registerEmail"
                placeholder="Enter Email"
                required
            />
        </div>

        <div class="form-group">
            <label for="institution">Institution:</label>
            <input
                type="text"
                name="institution"
                class="form-control"
                id="institution"
                placeholder="Enter Institution"
            />
        </div>

        <div class="form-group">
            <label for="registerPassword">Password:</label>
            <input
                type="password"
                name="registerPassword"
                class="form-control"
                id="registerPassword"
                placeholder="Enter password"
                minlength="6"
                required
            />
        </div>

        <div class="form-group">
            <label for="registerRepeatPassword">Repeat Password:</label>
            <input
                type="password"
                name="registerRepeatPassword"
                class="form-control"
                id="registerRepeatPassword"
                placeholder="Repeat Password"
                minlength="6"
                required
            />
        </div>

        <input type="submit" value="Register" class="btn btn-lg btn-block btn-primary" />
    </form>
</section>
