{% extends "base.html" %} {% block content %}
<h3>{{ document.name }}</h3>
<div>
  {% for image in images %}
  <div class="thumbnail d-inline-block m-3">
    <img
      src="/static/upload_images/{{ document.id }}/{{ image.filename }}"
      alt="{{ image.filename }}"
      class="uploaded_image"
    />
    <div class="caption text-center">
      {{ image.filename }}
    </div>
  </div>
  {% endfor %}
</div>

<form
  class="my-3"
  id="newDocumentForm"
  action="/document/{{ document.id }}/upload"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <div class="input-group">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          name="document_uploaded_files"
          id="document_upload_file_input"
          aria-describedby="document_upload_file_input"
          multiple
        />
        <label
          class="custom-file-label"
          id="document_upload_label"
          for="document_upload_file_input"
          >Choose file</label
        >
      </div>
    </div>
    <input
      class="btn btn-primary my-3 btn-lg btn-block"
      type="submit"
      value="Upload"
    />
  </div>
</form>
{% endblock %} {% block styles%}
<style>
  .uploaded_image {
    max-width: 100px;
    max-height: 200px;
  }
</style>

{% endblock %}
