/**
Tento soubor byl převzat z diplomové práce "Active Learning pro zpracování archivních pramenů"

Autor práce: David Hříbek
Rok: 2021
**/

// Body
$body-bg: #6a757e;
$sidebar-bg: white;
//$navbar-bg: #222b44;
$navbar-bg: #32373c;
//$canvas-bg: #303030;
//$canvas-bg: #151a30;
$canvas-bg: #e9eaed;
$toolbar-bg: #6a757e;
$annotationsbar-bg: #6a757e;
$bbox-bg: #202020;
$form-control: #626671;
$white-muted: #cacaca;

$tool-disabled: #8a8a8a;
$table-stripped-color: #34353a;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: white;
$blue: #151a30;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
