{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/css/loader.css?v=1.0">
<style>
.document-action-btn{
    min-height: 25px;
}
input[type=checkbox] {
    transform: scale(2.5);
}
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-xl-1 col-xl-10">
<table id="training_doc_table" class="table table-hover">
    <thead>
    <tr role="row">
        <th scope="col" class="image_column">Page</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col" >Model</th>
        {% for ocr in ocr_engines %}
            <th scope="col" id="selected_column">{{ocr.name}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr data-document="{{ document.id }}">
            <td data-sort="{{loop.index}}">
                <div class="image-preview-cont">
                    <img data-src="{{url_for('document.get_image_preview', image_id=previews[document.id].id)}}" class="lazy-img image-preview" src="" onerror="this.src='/static/img/missing_page.png'"/>
                </div>
            </td>
            {% if document.requests_lazy %}
                <td class="utc-time" data-sort="{{document.requests_lazy[-1].created_date.isoformat()}}">{{ document.requests_lazy[-1].created_date.isoformat() }}</td>
            {% else %}
                <td class="utc-time" data-sort="0">N/A</td>
            {% endif %}

            <td><a href="{{ url_for('ocr.show_results', document_id=document.id) }}">{{ document.name }}</a></td>
            <td>{{ document.user.first_name }} {{ document.user.last_name }}</td>

            {% if not document.requests_lazy or not document.requests_lazy[-1].ocr_id %}
                <td>N/A</td>
            {% else %}
                <td>{{ engine_names[document.requests_lazy[-1].ocr_id] }}</td>
            {% endif %}

            {% for ocr in ocr_engines %}
            <td id="{{document.id + ocr.id}}" data-sort="{{ document.id in selected_documents[ocr.id] }}">
                <input data-document_id="{{document.id}}" data-ocr_id="{{ocr.id}}" type="checkbox" {{ "checked" if document.id in selected_documents[ocr.id] }} />
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/select.js?version=1.1"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', filename='js/lazy_image.js') + '?version=0.0.1' }}"></script>

    <script>
        for(var elem of document.getElementsByClassName("utc-time")){
            const date = new Date(elem.textContent + 'Z');
            elem.innerHTML = date.toLocaleString();
        }

        document.addEventListener("DOMContentLoaded",
            function () {
                manage_lazy_images(template_set_url_callback);
            });

        $(document).ready(function () {
            // Setup table - add a text input to each footer cell
            let update_table = function() {
                let checkboxes = document.querySelectorAll("input[type=checkbox]");
                checkboxes.forEach((item, index, array) => {
                    item.onchange = function () {
                        let url = Flask.url_for('ocr.ocr_training_documents_post', {
                            document_id: this.dataset['document_id'],
                            ocr_id: this.dataset['ocr_id'],
                            state: $(this).prop('checked')
                        });
                        fetch(url).then(data => {
                            if (data.status > 400) {
                                alert('ERROR: Failed to set training document. ' + data.status);
                            }
                        }, error => alert('ERROR: Failed to set training document. ' + error));
                        if ($(this).prop('checked')) {
                            this.parentElement.dataset.sort = 'True';
                        } else {
                            this.parentElement.dataset.sort = 'False';
                        }
                        $('#training_doc_table').DataTable().cell("#" + this.dataset['document_id'] + this.dataset['ocr_id']).invalidate();
                    };
                });
            };

            $('#training_doc_table thead tr').clone(true).appendTo('#training_doc_table thead');
            let table = $('#training_doc_table').on('draw.dt', update_table).DataTable({
                stateSave: true,
                orderCellsTop: true,
                fixedHeader: true,
            });

            let state = table.state.loaded();
            $('#training_doc_table thead tr:eq(1) th').each(function (i) {
                let title = $(this).text();
                let input_value = '';
                try {
                    input_value = state.columns[i].search.search;
                } catch(err){
                    console.log('ERROR')
                }
                if (['Timestamp', 'Name', 'Owner', 'Model'].includes(title)) {
                    $(this).html('<input type="text" placeholder="Search"  value="' + input_value + '"/>');
                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table.column(i).search(this.value).draw();
                        }
                    });
                } else {
                    $(this).html('');
                }
            });


        });
    </script>
{% endblock %}
