<!-- templates/index.html -->

{% extends "base/base.html" %}
{% block content %}
    <div class="container-fluid px-4">

        <div class="row pt-4">
            <div class="offset-xl-2 col-xl-10">
                <h2>PERO OCR demonstration application</h2>
            </div>
        </div>

        <div class="row">
            <div class="offset-xl-2 col-xl-6 my-3 text-justify">
                <p>
                    This application demonstrates capabilities of <a href="https://github.com/DCGM/pero-ocr" target="_blank">pero-ocr</a> python
                    package developed in <a href="https://pero.fit.vutbr.cz/" target="_blank">project PERO</a> at Brno University of Technology.
                    You can create an account and use the application to transcribe documents. To get an idea how well the OCR works, you can view <a href="{{ url_for('document.public_documents') }}">Public documents</a>.
                </p>
		<p>You can watch videos demonstrating <a href="https://youtu.be/r9aFeKVDyck">document management</a>, <a href="https://youtu.be/-Of2TrjJlwU">page layout editting</a> and <a href="https://youtu.be/mbB4svRmfqA">text recognition, correction and review</a>.
		</p>
                <p>
                    The application allows users to automaticaly transcribe several types of printed and handwritten documents.
                    The provided OCR engines are able to transcribe even very low-quality printed documents in most european languages including Latin,
                    old documents in Fraktur and similar scripts in German and Czech, and handwritten documents mainly in Czech language.
                    The application provides efficient interface for text corrections and several
                    formats of transcriptions for download (ALTO, PAGE XML, plain text).
                </p>
                <p>
                    Uploaded images and their corrections will not be shared with anyone outside Brno University of Technology and we have reasonable technical
                    measures and internal rules in place to prevent any data leaks.
                    Be aware that the images and corrections you provide may be used for further training and improvement of our systems.
                </p>
                <p> 
                    If you have any questions or experience any problems, contact <a href="https://www.fit.vut.cz/person/ihradis">Michal Hradiš</a>.
                </p>
            </div>
            <div class="col-md my-3">
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/PasswordRepeat.js?version=1.1"></script>
{% endblock %}
